.all-countries {
  box-sizing: border-box;
  padding-top: 2%;
  padding-left: 3%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.country-details {
  padding: 5%;
  margin-left: 3%;
  background-color: white;
  width: 375px;
  margin-bottom: 4%;
  background-color: rgb(246, 241, 241);
  border-radius: 5%;
  text-align: left;
  border: none;
}

.flag {
  height: 192px;
  width: 320px;
}

.header-content {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(148, 146, 146);
}

.filter {
  border-width: 200;
  height: 30px;
  width: 400px;
}

.country-arrange-options {
  height: 35px;
  width: 300px;
  background-color: white;
  border: none;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.earth-image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.country-data-div {
  box-sizing: border-box;
  height: 500px;
  width: 1100px;
  background-color: rgb(214, 211, 211);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  position: fixed;
  bottom: 30%;
  right: 20%;
}

.country-other-details {
  width: 35%;
  margin-left: 4%;
  padding-top: 0%;
}

.countryData-flag {
  height: 350px;
  width: 500px;
  display: inline;
  margin-left: 6%;
}

.cancel-button {
  background-color: lightseagreen;
  color: white;
  height: 40px;
  width: 150px;
  font-size: 16px;
}

.cancel-button:hover {
  background-color: white;
  color: black;
}




/* countries css start here */

/*

#header-content {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: orangered;
}

#filter {
  border-width: 200;
  height: 30px;
  width: 400px;
}

#country-arrange-options {
  height: 35px;
  width: 300px;
  background-color: white;
  border: none;
}

#country {
  box-sizing: border-box;
  padding-top: 2%;
  padding-left: 3%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightcyan;
}

.country-detail {
  padding: 5%;
  margin-left: 3%;
  background-color: white;
  width: 320px;
  margin-bottom: 4%;
  background-color: lightyellow;
  border-radius: 5%;
}

.country-flag {
  height: 192px;
  width: 320px;
}

#country-data-div {
  box-sizing: border-box;
  height: 500px;
  width: 1100px;
  background-color: rgb(245, 241, 241);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  position: fixed;
  bottom: 30%;
  right: 20%;
}

#country-other-details {
  width: 35%;
  margin-left: 4%;
  padding-top: 0%;
}

.countryData-flag {
  height: 350px;
  width: 500px;
  display: inline;
  margin-left: 6%;
}

#cancel-button {
  background-color: lightseagreen;
  color: white;
  height: 40px;
  width: 150px;
  font-size: 16px;
}

#cancel-button:hover {
  background-color: white;
  color: black;
}

*/






